<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/home" routerLinkacmat-button tive="acmat-button tive">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contactos</a>
      </nav>
      <a mat-raised-button routerLink="/order" [matBadge]="total$ | async" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
