<div *ngIf="product">
  <div class="crop-image">
    <img [src]="product.image" alt="" />
  </div>
  <div>
    <ul>
      <li>Nombre: {{ product.title }}</li>
      <li>Precio: {{ product.price | currency }}</li>
    </ul>
    <p>{{ product.description }}</p>
  </div>
  <button (click)="createProduct()">Crear nuevo</button>
  <button (click)="updateProduct(product.id)">Editar</button>
  <button (click)="deleteProduct(product.id)">Eliminar</button>
</div>
