<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel> Sus productos</ng-template>
    <div *ngIf="products$ | async as products">
      <p *ngIf="products.length === 0">No hay productos</p>
      <div class="row" *ngFor="let product of products">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <img class="image" [src]="product.image" alt="" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            {{ product.cant }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="box">
            {{ product.title }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="box">
            {{ product.price }}
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Datos personales</ng-template>
    <h1>Contenido</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>Contenido</h1>
  </mat-step>
</mat-horizontal-stepper>
