.products-table {
  width: 90%;
  margin: 5% auto;

  .th-center {
    text-align: center;
  }

  .td-actions {
    padding: 5px;
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 5px;
    }
  }
}
