<button mat-raised-button routerLink="create">Crear nuevo producto</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 products-table">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="th-center">Id</th>
    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="th-center">Title</th>
    <td mat-cell *matCellDef="let product">{{ product.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef class="th-center">Description</th>
    <td mat-cell *matCellDef="let product">{{ product.description }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="th-center">Price</th>
    <td mat-cell *matCellDef="let product">{{ product.price }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="th-center">Actions</th>
    <td mat-cell *matCellDef="let product" class="td-actions">
      <a mat-raised-button [routerLink]="['edit', product.id]">Editar</a>
      <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
