<form [formGroup]="form" (ngSubmit)="saveProduct($event)" class="form-products">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="field">
            <input formControlName="title" placeholder="Title" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="field">
            <input formControlName="price" placeholder="Price" matInput type="number" />
          </mat-form-field>
          <div *ngIf="priceField.errors && priceField.dirty">
            <p *ngIf="priceField.hasError('price_invalid')">Precio no puede ser superior a 10000</p>
            <p *ngIf="priceField.hasError('required')">Campo requerido</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="field">
            <textarea formControlName="description" placeholder="Description" matInput type="number"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
